@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  position: relative;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: 0.3s ease;
}

div#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

html,
body {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-family: "Merriweather", serif;
  font-size: 100%;
  overflow-y: overlay;
}

::selection {
  background-color: #414141;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #ffffff00;
}

::-webkit-scrollbar-thumb {
  background: #6f3d2e;
}

::-webkit-scrollbar-thumb:hover {
  background: #582e21;
}

@media screen and (max-width: 1280px) {
  html {
    font-size: 90%;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 80%;
  }
}

@media screen and (max-width: 640px) {
  html {
    font-size: 70%;
  }
}

a {
  color: inherit;
  text-decoration: none;
  font-size: 0.9rem;
}

h1 {
  font-size: 2.8rem;
  line-height: 4rem;
  font-weight: 700;
}

h2 {
  font-size: 2rem;
  line-height: 3rem;
}
p {
  font-size: 1rem;
  line-height: 2rem;
}

.btn {
  border-radius: 12px;
  padding: 1rem 1.8rem;
  text-transform: capitalize;
  letter-spacing: 1px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/******************************* Blog landing **************************/

.hero-section {
  width: 100%;
  height: 100vh;
  background: #232323;
  color: white;
  padding: 5rem 0 4rem;
}

.hero-background-image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: #2b2b2b;
}

.hero-background-image img {
  opacity: 0.3;
}

.hero-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero-content p {
  color: #d9d9d9;
}

.back-btn {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  opacity: 0.4;
  transition: 0.5s ease-in;
}

.back-btn:hover {
  opacity: 1;
}

.tag {
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.hero-content-main {
  max-width: 768px;
}

.hero-content-main .hero-breadcrumb {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #d69667;
  margin-bottom: 0.5rem;
}

.hero-content .hero-breadcrumb p {
  color: #d69667;
}

.hero-content-main h1 {
  margin-bottom: 0.5rem;
}

.hero-content-main p {
  max-width: 576px;
}

.hero-content-main p:last-child {
  display: none;
}

@media screen and (max-width: 650px) {
  .hero-content-main p:last-child {
    display: block;
    margin-top: 2rem;
  }

  .hero-background-image img {
    opacity: 0.2;
  }

  .date-of-post {
    display: none;
  }

  .tag,
  p {
    font-size: 1.2rem;
  }

  p {
    line-height: 2.3rem;
  }
}
